<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
    <body>

    <div class="wrapper fadeInDown">
        <div id="formContent" style="background-color: inherit">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <a style="align-self: center">
                    <h1></h1>
                </a>
            </div>

            <!-- Login Form -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="fadeIn fourth" value="GO">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter" style="background-color: inherit">
                <h1></h1>
            </div>
            <a href="{% url 'export' %}">
                <button>Go to Export</button>
            </a>
            <a href="{% url 'customer' %}">
                <button>Add customer</button>
            </a>
        </div>
    </div>


    </body>
{% endblock %}
</html>