<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<table class="table">
    <thead>
    </thead>
        <tr>
            <a href="{{ link }}" >Download</a>

            <td>Type</td>
            <td>Date</td>
            <td>Customer</td>
            <td>Sent</td>
        </tr>
    <tbody>
    {% for i in list %}
        <tr style="border: #0d0d0d 1px solid">
        {% for j in i %}
            <td>{{ j }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
</body>
</html>